$font-primary: "Roboto", sans-serif;
$dark-slate-grey: #242742;
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

body {
  width: 100%;
  background-color: $charcoal-grey;
  font-family: $font-primary;
  color: $dark-slate-grey;
}

.font-base {
  font-family: $font-primary;
  font-style: normal;
  font-display: swap;
}

.btn {
  width: 100%;
  padding: 1.125rem 1rem;
  border-radius: 0.5rem;
}

.btn-form {
  @extend .btn;
  background-color: $dark-slate-grey;
  color: $white;
  font-weight: 700;
}

.attribution {
  font-size: 0.625rem;
  text-align: center;
  display: none;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-newsletter {
  background-color: $white;

  .img-newsletter {
    display: block;
    width: 100%;
    height: auto;
  }

  .content-newsletter {
    padding: 2.5rem 1.5rem;

    .text-newsletter {
      display: flex;
      flex-direction: column;

      h1 {
        @extend .font-base;
        font-size: 2.5rem;
        font-weight: 700;
      }

      ul {
        list-style: none;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
          display: flex;
          align-items: center;
          line-height: 150%;

          &:not(:last-child) {
            margin-bottom: 0.625rem;
          }

          svg {
            margin-right: 16px;
          }
        }
      }
    }

    .form {
      p {
        @extend .font-base;
        font-size: 0.75rem;
        font-weight: 700;
        color: $dark-slate-grey;
      }

      input {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  @media (min-width: 48.0625rem) {
    display: flex;
    border-radius: 2.25rem;
    padding: 1.5rem;

    .img-newsletter {
      height: 100%;
    }

    .content-newsletter {
      max-width: 23.5rem;
    }
  }
}

.box-success {
  background-color: $white;
  padding: 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    @extend .font-base;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 16.4375rem;
  }
}
