---
import type { MenuTypes } from "../types/menuTypes";
const { name } = Astro.props as MenuTypes;
const isDaily = name.toLocaleLowerCase() === "daily";
---

<button
  data-timeframe={name.toLowerCase()}
  data-active={isDaily}
  class="text-indigo-400 text-lg hover:text-white data-[active=true]:text-white transition-colors"
>
  {name}
</button>
