---
import Layout from "../layouts/Layout.astro";
import avatar from "../images/image-jeremy.png";
---

<Layout>
  <main>
    <aside>
      <header>
        <img src={avatar.src} alt="Jeremy Robson" />
        <div>
          <p>Report for</p>
          <h1>Jeremy Robson</h1>
        </div>
      </header>

      <nav>
        <ul>
          <li><a href="#">Daily</a></li>
          <li><a href="#">Weekly</a></li>
          <li><a href="#">Monthly</a></li>
        </ul>
      </nav>
    </aside>

    <section>

      <article>
        
      </article>

    </section>
  </main>
</Layout>
