---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import avatar from "../images/image-jeremy.png";

import type { Menu } from "../types/menuTypes";
import menuData from "../data/menu.json";

const menu: Menu = menuData;
---

<Layout>
  <main class="p-4 grid gap-6">
    <aside class="bg-[#1C204B] rounded-[15px]">
      <header class="flex bg-[#5747EA] rounded-2xl py-9 px-8 gap-5">
        <img class="w-16 h-16" src={avatar.src} alt="Jeremy Robson" />
        <div>
          <p class="text-[#BBC0FF] text-[15px]">Report for</p>
          <h1 class="text-white text-2xl font-light">Jeremy Robson</h1>
        </div>
      </header>

      <nav class="p-6">
        <ul class="flex justify-around">
          {
            menu.menuItems.map((item) => (
              <li>
                <a class="text-[#7078C9] text-[18px] hover:text-white active:text-white" href={item.link}>{item.name}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </aside>

    <section>
      <Card />
    </section>
  </main>
</Layout>
